<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
	<connectionStrings>
		<add name="BDMS" connectionString="Server=LAPTOP-3IEBOQ0D\SQLEXPRESS01;Initial Catalog=BDMS;Trusted_Connection=yes;"/>
	</connectionStrings>
</configuration>